.half-horiz {
  position: relative;
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.half-vert {
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.notecard {
  width:650px;
  height:350px;
  background-color:#fff;
  color:#000;
  border-radius:5px;
  padding:50px;
}

#main-list {
    text-align:left;
    width:700px;
    color:#fff;
}